@model FTCRUD.Models.AddCampaignViewModel

@{
}

<h1 class="h1class">Add Campaign</h1>
<form method="post" action="Add" class="mt-5">
    <div class="col-5">
        <label for="" class="form-label">Campaign Name</label>
        <input type="text" class="form-control" asp-for="CampaignName">
    </div>
    <br />

    <div class="col-2">
        <label for="" class="form-label">Keywords</label>
        <input type="text" class="form-control" asp-for="Keywords" placeholder="Company name">
    </div>
    <br />

    <div class="col-2">
        <label for="" class="form-label">Bid Amount</label>
        <input type="decimal" class="form-control" asp-for="BidAmount" placeholder="Funds to spend">
    </div>
    <br />

    <div class="col-2">
        <label for="" class="form-label">Campaign fund</label>
        <input type="decimal" class="form-control" asp-for="CampaignFund" placeholder="Funds to spend">
    </div>
    <br />

    <div>
        <input type="checkbox" class="form-check-input" asp-for="Status">
        <label for="" class="form-check-label">Campaign Status ON/OFF</label>
    </div>
    <br />

    <div class="col-2">
        <label class="form-label">Town</label>
        <select asp-for="Town" class="form-select">
            <option value="Warsaw">Warsaw</option>
            <option value="Cracow" selected="">Cracow</option>
            <option value="Wrocław">Wrocław</option>
            <option value="Poznań">Poznań</option>
            <option value="Gdańsk">Gdańsk</option>
            <option value="Rzeszów">Rzeszów</option>
            <option value="Łódź">Łódź</option>
            <option value="Tarnów">Tarnów</option>
        </select>
    </div>
    <br />
    
    <label for="" class="form-label">Radius</label>
    <div class="col-3 d-flex">
        <input type="range" class="form-range" id="slider" asp-for="Radius" min=25 max=300 step="5">
        <div id="rangeValue">160</div>
    </div>
    <br />

    <script>
        var slider = document.getElementById('slider');
        var value = document.getElementById('value');

        slider.oninput = function () {
            rangeValue.innerHTML = this.value;
        }
    </script>

    <div>
        <button type="submit" class="btn btn-primary">Create Campaign</button>
    </div>
</form>